In [5]:
#Load in initial packages
import os  

#Rename the Flight Predictions File (March, 2019 Data)
#os.rename('905069506_T_ONTIME_REPORTING.csv','Flight_Predictions.csv')

In [1]:
#Import the libraries for the analysis
import pandas as pd

#Read in the data file as a Pandas data frame
df = pd.read_csv('Flight_Predictions.csv')

#Look at first several rows of data set
df.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,...,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DEL15,CANCELLED,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,Unnamed: 25
0,2019,1,3,21,4,9E,N8943A,3497,15412,TYS,...,1859,1844.0,-15.0,0.0,0.0,0.0,104.0,100.0,443.0,NaN
1,2019,1,3,22,5,9E,N8688C,3497,15412,TYS,...,1859,1850.0,-9.0,0.0,0.0,0.0,104.0,99.0,443.0,NaN
2,2019,1,3,23,6,9E,N840AY,3497,15412,TYS,...,1857,1834.0,-23.0,0.0,0.0,0.0,102.0,91.0,443.0,NaN
3,2019,1,3,17,7,9E,N279PQ,5271,12478,JFK,...,2304,2245.0,-19.0,0.0,0.0,0.0,99.0,81.0,301.0,NaN
4,2019,1,3,18,1,9E,N906XJ,5271,12478,JFK,...,2304,2243.0,-21.0,0.0,0.0,0.0,99.0,84.0,301.0,NaN

In [2]:
#View data shape (rows and columns) as well as columnar summary metrics
df.shape
df.describe()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,DEST_AIRPORT_ID,CRS_DEP_TIME,DEP_TIME,...,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DEL15,CANCELLED,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,Unnamed: 25
count,632074.0,632074.0,632074.0,632074.000000,632074.000000,632074.000000,632074.000000,632074.000000,632074.000000,619750.000000,...,632074.000000,619289.000000,618505.000000,618505.000000,632074.000000,632074.000000,632074.000000,618505.000000,632074.000000,0.0
mean,2019.0,1.0,3.0,16.074200,4.136856,2560.039698,12656.671084,12656.690313,1331.790363,1337.984673,...,1488.495777,1473.657070,3.288832,0.171829,0.019877,0.001590,143.308440,137.588820,807.299655,NaN
std,0.0,0.0,0.0,8.881371,2.005143,1803.533430,1522.747221,1522.738094,494.819656,505.816480,...,524.930152,538.989807,46.931822,0.377232,0.139579,0.039843,72.855655,72.942166,589.144283,NaN
min,2019.0,1.0,3.0,1.000000,1.000000,1.000000,10135.000000,10135.000000,1.000000,1.000000,...,1.000000,1.000000,-87.000000,0.000000,0.000000,0.000000,20.000000,16.000000,31.000000,NaN
25%,2019.0,1.0,3.0,8.000000,2.000000,1027.000000,11292.000000,11292.000000,910.000000,916.000000,...,1100.000000,1052.000000,-15.000000,0.000000,0.000000,0.000000,90.000000,85.000000,371.000000,NaN
50%,2019.0,1.0,3.0,16.000000,4.000000,2176.000000,12889.000000,12889.000000,1325.000000,1332.000000,...,1517.000000,1511.000000,-7.000000,0.000000,0.000000,0.000000,125.000000,120.000000,648.000000,NaN
75%,2019.0,1.0,3.0,24.000000,6.000000,3921.000000,14027.000000,14027.000000,1740.000000,1748.000000,...,1924.000000,1921.000000,6.000000,0.000000,0.000000,0.000000,175.000000,168.000000,1050.000000,NaN
max,2019.0,1.0,3.0,31.000000,7.000000,7439.000000,16218.000000,16218.000000,2359.000000,2400.000000,...,2400.000000,2400.000000,1928.000000,1.000000,1.000000,1.000000,690.000000,1604.000000,4983.000000,NaN

In [3]:
#Next, clean the data
#First, check for missing values
df.isnull().values.any() #There are missing values
df.isnull().values.sum() #There are 726,608 missing values

#Look at missing values by column
df.isnull().sum() #The last column 'Unnamed: 25' appears to have the majority of missing values

#Non-null values in last column
df['Unnamed: 25'] #This column isn't part of the flight data, it's due to the csv upload and can be removed

#Remove last column
df = df.drop('Unnamed: 25', axis=1)

In [6]:
#View new data set
df.isnull().sum()

#Show rows which are cancelled or diverted flights
#df.loc[df['CANCELLED'] == 1]) |
#df.loc[df['DIVERTED'] == 1])
df_check = df.loc[df['CANCELLED'] == 1]) | df.loc[df['DIVERTED'] == 1])
#df.loc[df['ARR_DEL15'] == 'NaN'])


#Select 'Feature' columns of interest for analysis
df = df[["MONTH", "DAY_OF_MONTH", "DAY_OF_WEEK", "ORIGIN", "DEST", "CRS_DEP_TIME", "ARR_DEL15"]]

#Check for Null values by column again
df.isnull().sum()

#Show first five columns with missing values
df[df.isnull().values.any(axis=1)].head()

#Check to see the values changed for ARR_DEL15 (i.e row 54, 113, 179)
#These flights with missing arrival times are canceled or diverted flights
#Since these could be considered "late," mark them as ARR_DEL15 = 1
df = df.fillna({'ARR_DEL15': 1})
df.iloc[53:55]

#Additional Row Testing
#df.iloc[112:114]
#df.iloc[178:180]

    MONTH  DAY_OF_MONTH  DAY_OF_WEEK ORIGIN DEST  CRS_DEP_TIME  ARR_DEL15
53      3             3            7    BOS  JFK           705        0.0
54      3             4            1    BOS  JFK           705        1.0

In [9]:
#Bin Departure Times
import math

for index, row in df.iterrows():
    df.loc[index, 'CRS_DEP_TIME'] = math.floor(row['CRS_DEP_TIME'] / 100)

df.head(10)

#Create Indicator columns for ORIGIN and DEST
#These variables represent categorical machine learning data, which must be quantized into binary integers (1 or 0)
#for the ML model
#Remove the previous columns for ORIGIN and DEST
df = pd.get_dummies(df, columns = ['ORIGIN','DEST'])
df.head()

    MONTH  DAY_OF_MONTH  DAY_OF_WEEK ORIGIN DEST  CRS_DEP_TIME  ARR_DEL15
0       3            21            4    TYS  DTW            17        0.0
1       3            22            5    TYS  DTW            17        0.0
2       3            23            6    TYS  DTW            17        0.0
3       3            17            7    JFK  BUF            21        0.0
4       3            18            1    JFK  BUF            21        0.0
5       3            19            2    JFK  BUF            21        0.0
6       3            20            3    JFK  BUF            21        0.0
7       3            21            4    JFK  BUF            21        1.0
8       3            22            5    JFK  BUF            21        1.0
9       3            24            7    JFK  BUF            21        0.0
10      3            25            1    JFK  BUF            21        0.0
11      3            26            2    JFK  BUF            21        0.0
12      3            27            3    JFK  BUF            21        0.0
13      3            28            4    JFK  BUF            21        0.0
14      3            29            5    JFK  BUF            21        0.0
15      3            31            7    JFK  BUF            21        0.0
16      3             2            6    TLH  ATL            13        0.0
17      3             9            6    TLH  ATL            13        0.0
18      3            16            6    TLH  ATL            13        0.0
19      3            23            6    TLH  ATL            13        0.0

In [ ]:
#View correlations in data
import matplotlib.pyplot as plt
import seaborn as sns

sns.heatmap(df, xticklabels=True, yticklabels=True)
plt.style.use('seaborn-colorblind')
plt.figure(figsize=(20,20))
sns.heatmap(df.corr(),
            linewidths = 0.25,
            square= True,
            cmap = 'seismic',
            linecolor = 'black',
            annot= True)


#df.describe()
#Rename certain columns
#print(df.rename(columns={'A': 'a', 'C': 'c'}))

In [ ]:
#Split data into training and testing
from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y = train_test_split(df.drop('ARR_DEL15', axis=1), df['ARR_DEL15'], test_size=0.25, random_state=42)

#Display X training data shape
train_x.shape

#Display X testing data shape
test_x.shape

#Display Y training data shape
train_y.shape

#Display Y testing data shape
test_y.shape

#Test Random Forest Model
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(random_state=13)
model.fit(train_x, train_y)

#Calculate Mean Accuracy of Model
predicted = model.predict(test_x)
model.score(test_x, test_y)


#Find Prediction Probabilities
from sklearn.metrics import roc_auc_score
probabilities = model.predict_proba(test_x)

#Find Roc Auc score
roc_auc_score(test_y, probabilities[:, 1])

#Create confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(test_y, predicted)

#Model Precision
from sklearn.metrics import precision_score

train_predictions = model.predict(train_x)
precision_score(train_y, train_predictions)

#Recall Score
from sklearn.metrics import recall_score
recall_score(train_y, train_predictions)


#Show output
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

#Roc curve
from sklearn.metrics import roc_curve

fpr, tpr, _ = roc_curve(test_y, probabilities[:, 1])
plt.plot(fpr, tpr)
plt.plot([0, 1], [0, 1], color='grey', lw=1, linestyle='--')
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')


def predict_delay(departure_date_time, origin, destination):
    from datetime import datetime

    try:
        departure_date_time_parsed = datetime.strptime(departure_date_time, '%d/%m/%Y %H:%M:%S')
    except ValueError as e:
        return 'Error parsing date/time - {}'.format(e)

    month = departure_date_time_parsed.month
    day = departure_date_time_parsed.day
    day_of_week = departure_date_time_parsed.isoweekday()
    hour = departure_date_time_parsed.hour

    origin = origin.upper()
    destination = destination.upper()

    input = [{'MONTH': month,
              'DAY': day,
              'DAY_OF_WEEK': day_of_week,
              'CRS_DEP_TIME': hour,
              'ORIGIN_ATL': 1 if origin == 'ATL' else 0,
              'ORIGIN_DTW': 1 if origin == 'DTW' else 0,
              'ORIGIN_JFK': 1 if origin == 'JFK' else 0,
              'ORIGIN_MSP': 1 if origin == 'MSP' else 0,
              'ORIGIN_SEA': 1 if origin == 'SEA' else 0,
              'DEST_ATL': 1 if destination == 'ATL' else 0,
              'DEST_DTW': 1 if destination == 'DTW' else 0,
              'DEST_JFK': 1 if destination == 'JFK' else 0,
              'DEST_MSP': 1 if destination == 'MSP' else 0,
              'DEST_SEA': 1 if destination == 'SEA' else 0 }]

    return model.predict_proba(pd.DataFrame(input))[0][0]



predict_delay('1/10/2018 21:45:00', 'JFK', 'ATL')


predict_delay('2/10/2018 21:45:00', 'JFK', 'ATL')


predict_delay('2/10/2018 10:00:00', 'ATL', 'SEA')



import numpy as np

labels = ('Oct 1', 'Oct 2', 'Oct 3', 'Oct 4', 'Oct 5', 'Oct 6', 'Oct 7')
values = (predict_delay('1/10/2018 21:45:00', 'JFK', 'ATL'),
          predict_delay('2/10/2018 21:45:00', 'JFK', 'ATL'),
          predict_delay('3/10/2018 21:45:00', 'JFK', 'ATL'),
          predict_delay('4/10/2018 21:45:00', 'JFK', 'ATL'),
          predict_delay('5/10/2018 21:45:00', 'JFK', 'ATL'),
          predict_delay('6/10/2018 21:45:00', 'JFK', 'ATL'),
          predict_delay('7/10/2018 21:45:00', 'JFK', 'ATL'))
alabels = np.arange(len(labels))

plt.bar(alabels, values, align='center', alpha=0.5)
plt.xticks(alabels, labels)
plt.ylabel('Probability of On-Time Arrival')
plt.ylim((0.0, 1.0))